<nav x-data="initNavbar()"  x-on:scroll.window="scroll()" id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation" :class="{
        'is-active': scrolled,
        '': !scrolled
    }">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/img/logo/fresh-alt.svg" alt="" width="112" height="28">
            </a>
        </div>

        <div id="cloned-navbar-menu" class="navbar-menu is-fixed" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">

            <div class="navbar-end">
                <a href="#" class="navbar-item is-secondary">
                    Features
                </a>
                <a href="#" class="navbar-item is-secondary">
                    About
                </a>
                <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
                    Setup instructions
                </a>
            </div>
        </div>
    </div>
</nav>